footer
  .container.text-center
    p.pull-left © 2017 Wow Team
    ul.pull-right.list-inline
      li
        a(href='https://github.com/smddzcy/getir-hackathon-2017') GitHub Project
      li
        a(href='https://github.com/smddzcy/getir-hackathon-2017/issues') Issues
