<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Event Details</h3>
    </div>
    <div class="panel-body">
      <div class="form-group row">
        <label class="col-sm-2">Place</label>
        <div class="col-sm-10">{{ event.location.name || '-' }}</div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2">Type</label>
        <div class="col-sm-10">{{ event.type || '-' }}</div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2">Date</label>
        <div class="col-sm-10">{{ event.date | date:"hh:mm MM/dd/yyyy" }}</div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2">Creator</label>
        <div class="col-sm-10">{{ event.creator.name || event.creator.email }}</div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2">Joined Users</label>
        <div class="col-sm-10">
          <div ng-if="!event.users || !event.users.length">-</div>
          <div ng-repeat="user in event.users">
            <div>
              <span>{{ user.name || user.email }}</span>
              <span class="btn btn-danger"
                    style="padding: 0 8px"
                    ng-click="removeJoinedUser()">x</span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2">Messages</label>
        <div class="col-sm-10">
          <div class="chat-container">
            <div class="messages-container">
              <message ng-repeat="message in event.messages"
                       from="message.from"
                       message="message.message"></message>
            </div>
            <div class="input-container">
              <input type="text" class="form-control"
                     placeholder="Your message..."
                     ng-model="message"
                     ng-minlength="3"
                     ng-maxlength="140" />
              <button type="submit" class="btn btn-success"
                      ng-click="sendMessage(message)"
                      ng-disabled="sendingMessage">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
