<div class="container-fluid">
  <div ng-if="currentUser">
    <h1>Magnificent Map</h1>

    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options"
                        ng-if="map">
      <ui-gmap-marker idKey="marker.id"
                      coords="marker.location"
                      click="marker.isClicked = true"
                      ng-repeat="marker in markers">
        <ui-gmap-window coords="marker.location"
                        show="marker.isClicked"
                        closeClick="marker.isClicked = false">
          <div id="content" class="markerDetail">
            <h1 id="markerHeading" class="markerHeading">{{ marker.name }}</h1>
            <div class="markerBodyContent">
              <p class="markerTime">{{ marker.date | date:"MM/dd/yyyy" }} 22.22</p>
              <div class="row creatorInfo">
                <div class="col-md-5">
                  <img class="img-responsive img-circle creatorImage" style="background: red" src="">
                </div>    
                <div class="col-md-7">
                  <div class="creatorName">
                    <span>Creator Name</span>
                  </div>
                </div>    
              </div>
              
              <div class="row">
                <div class="col-md-6">
                  <a class="btn btn-primary cta-button marker-info-button" href="/eventJoin">Join Now</a>
                </div>
                <div class="col-md-6">
                  <a class="btn btn-primary cta-button marker-info-button" href="/eventDetails/{{marker.id}}">Show Details</a>  
                </div>
              </div>
            </div>
          </div>
        </ui-gmap-window>
        </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>

  <div class="row cta-row text-center" ng-if="!currentUser">
    <h1>Meeting with people has never been easier.</h1>
    <h2>Explore the city, meet with new people.</h2>
    <a class="btn btn-primary cta-button" href="/signup">Sign Up Now</a>
  </div>
</div>
