<div class="container-fluid">
  <div ng-if="currentUser">
    <h1>Near Events</h1>

    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options"
                        ng-if="map">
      <ui-gmap-marker idKey="marker.id"
                      coords="marker.location"
                      click="marker.isClicked = true"
                      ng-repeat="marker in markers">
        <ui-gmap-window coords="marker.location"
                        show="marker.isClicked"
                        closeClick="marker.isClicked = false">
          <div id="content" class="markerDetail">
            <div class="flex-row">
              <h1 class="markerHeading">Place:</h1>
              <div class="markerBodyContent">{{ marker.event.location.name || 'No place name' }}</div>
            </div>

            <div class="flex-row">
              <h1 class="markerHeading">Type:</h1>
              <div class="markerBodyContent">{{ marker.event.type || 'No type' }}</div>
            </div>

            <div class="flex-row">
              <h1 class="markerHeading">Date:</h1>
              <div class="markerBodyContent">{{ marker.event.date | date:"MM/dd/yyyy" }}</div>
            </div>

            <div class="markerBodyContent">
              <div class="flex-row creatorInfo">
                <div>
                  <img class="img-responsive img-circle creatorImage"
                       ng-src="{{marker.event.creator.picture || marker.event.creator.gravatar}}">
                </div>
                <div>
                  <span>{{marker.event.creator.name || marker.event.creator.email}}</span>
                </div>
              </div>

              <div class="flex-row">
                <a class="btn btn-primary cta-button marker-info-button"
                   href="/event/join">Join Now</a>
               <a class="btn btn-primary cta-button marker-info-button"
                  href="/event-details/{{marker.id}}">Show Details</a>
              </div>
            </div>
          </div>
        </ui-gmap-window>
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>

  <div class="row cta-row text-center" ng-if="!currentUser">
    <h1>Meeting with people has never been easier.</h1>
    <h2>Explore the city, meet with new people.</h2>
    <a class="btn btn-primary cta-button" href="/signup">Sign Up Now</a>
  </div>
</div>
