<div class="container">
  <div class="panel">
    <div class="panel-body">
      <div ng-if="messages.error" role="alert" class="alert alert-danger">
        <div ng-repeat="error in messages.error">{{error.msg}}</div>
      </div>
      <div ng-if="messages.success" role="alert" class="alert alert-success">
        <div ng-repeat="success in messages.success">{{success.msg}}</div>
      </div>
      <form class="form-horizontal">
        <legend>User Public Profile</legend>
      <label for="email" class="col-sm-3">Email</label>
      <div class="col-sm-7">
        <div class="form-group">
          <span>{{ targetUser.email || 'Hidden' }}</span>
        </div>
      </div>  
      <div class="form-group">
        <label for="name" class="col-sm-3">Name</label>
        <div class="col-sm-7">
          <span>{{ targetUser.name || 'Hidden' }}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3">Gender</label>
        <div class="col-sm-4">
          <span>{{ targetUser.email || 'Hidden' }}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="location" class="col-sm-3">Mostly Visited Location</label>
        <div class="col-sm-7">
          <span>{{ targetUser.mostlyVisited || 'Hidden' }}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="website" class="col-sm-3">Website</label>
        <div class="col-sm-7">
          <span>{{ targetUser.website || 'Hidden' }}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3">Gravatar</label>
        <div class="col-sm-4">
          <img ng-src="{{targetUser.gravatar}}" class="profile" width="100" height="100">
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
